// Colors
$white-color:               #fff;
$black-color:               #44566C;
$gray-100-color:            #F8FAFB;
$gray-200-color:            #F0F0F6;
$gray-300-color:            #8697A8;
$gray-400-color:            #5F6F81;
$tone-color:                #0045FF; //blue
$tone-additional-color:     #00F1E2; //aqua
$tone-additional2-color:    #2CD5EF; //aqua dark
$red-color:                 #FF3D57;

$gradient-1:                linear-gradient(to right, rgba(0,129,255,1) 0%, rgba(63,160,255,1) 50%, rgba(0,69,255,1) 100%);
$gradient-2:                linear-gradient(to right, rgba(0,129,255,1) 0%, rgba(0,69,255,1) 100%);
$gradient-3:                linear-gradient(135deg, rgba(0,241,226,1) 0%, rgba(44,213,239,1) 100%);
$gradient-4:                linear-gradient(135deg, rgba(155,225,93,1) 0%, rgba(0,217,166,1) 100%);

// Dark sheme
$dark-black-1:              #15232E;
$dark-black-2:              #1F2935;
$dark-black-3:              #1A2631;
$absolute-black:            #000;